In [1]:
#importing libraies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVC

import tensorflow as tf
from tensorflow import keras
from keras import metrics
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix
%matplotlib inline
# Reset TF and random seed (for reproducible results).
tf.keras.backend.clear_session()
tf.random.set_seed(0)

# Input data files are available in the "../input/" directory.
from subprocess import check_output
print(check_output(["ls", "us_perm_visas.csv"]).decode("utf8"))

/home/joshua/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/joshua/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
/tmp/ipykernel_2035450/1013195902.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
2024-03-31 18:24:36.365649: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-31 18:24:36.730737: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-31 18:24:38.071863: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-31 18:24:42.039078: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

us_perm_visas.csv

In [3]:
# Exploratory of Datasets

df = pd.read_csv('us_perm_visas.csv', low_memory = False, parse_dates=['decision_date', 'case_received_date'])

In [4]:
# Displaying number of rows and columns
print('Number of Visa Applications:', len(df))
print('Number of Columns:', len(df.columns))

Number of Visa Applications: 374362
Number of Columns: 154

In [5]:
# Displaying 5 first rows and last 5 rows
print("The first 5 rows:", df.head())
print("The last 5 rows:", df.tail())

The first 5 rows:   add_these_pw_job_title_9089 agent_city agent_firm_name agent_state  \
0                         NaN        NaN             NaN         NaN
1                         NaN        NaN             NaN         NaN
2                         NaN        NaN             NaN         NaN
3                         NaN        NaN             NaN         NaN
4                         NaN        NaN             NaN         NaN

  application_type        case_no case_number case_received_date case_status  \
0             PERM  A-07323-97014         NaN                NaT   Certified
1             PERM  A-07332-99439         NaN                NaT      Denied
2             PERM  A-07333-99643         NaN                NaT   Certified
3             PERM  A-07339-01930         NaN                NaT   Certified
4             PERM  A-07345-03565         NaN                NaT   Certified

  class_of_admission  ... ri_pvt_employment_firm_to ri_us_workers_considered  \
0                J-1  ...                       NaN                      NaN
1                B-2  ...                       NaN                      NaN
2               H-1B  ...                       NaN                      NaN
3                B-2  ...                       NaN                      NaN
4                L-1  ...                       NaN                      NaN

  schd_a_sheepherder     us_economic_sector wage_offer_from_9089  \
0                NaN                     IT              75629.0
1                NaN  Other Economic Sector              37024.0
2                NaN              Aerospace              47923.0
3                NaN  Other Economic Sector                10.97
4                NaN           Advanced Mfg             100000.0

  wage_offer_to_9089 wage_offer_unit_of_pay_9089 wage_offered_from_9089  \
0                NaN                          yr                    NaN
1                NaN                          yr                    NaN
2                NaN                          yr                    NaN
3                NaN                          hr                    NaN
4                NaN                          yr                    NaN

  wage_offered_to_9089  wage_offered_unit_of_pay_9089
0                  NaN                            NaN
1                  NaN                            NaN
2                  NaN                            NaN
3                  NaN                            NaN
4                  NaN                            NaN

[5 rows x 154 columns]
The last 5 rows:        add_these_pw_job_title_9089   agent_city  \
374357                         NaN   Buena Park
374358                         NaN      Seattle
374359                         NaN   Schaumburg
374360                         NaN  LOS ANGELES
374361                         NaN      Phoenix

                                          agent_firm_name agent_state  \
374357                           Law Offices of Yohan Lee          CA
374358                         MacDonald Hoague & Bayless          WA
374359  International Legal and Business Services Grou...          IL
374360                        LAW OFFICES OF JAMES S HONG          CA
374361            Fragomen, Del Rey, Bernsen & Loewy, LLP          AZ

       application_type case_no    case_number case_received_date case_status  \
374357              NaN     NaN  A-16363-85407         2016-12-29   Withdrawn
374358              NaN     NaN  A-16271-56745         2016-12-30   Withdrawn
374359              NaN     NaN  A-16354-82345         2016-12-30   Withdrawn
374360              NaN     NaN  A-16357-84250         2016-12-30   Withdrawn
374361              NaN     NaN  A-16279-59292         2016-12-30   Withdrawn

       class_of_admission  ... ri_pvt_employment_firm_to  \
374357                NaN  ...                       NaN
374358                L-1  ...                       NaN
374359               H-1B  ...                       NaN
374360                B-2  ...                       NaN
374361               H-1B  ...                       NaN

       ri_us_workers_considered schd_a_sheepherder us_economic_sector  \
374357                      NaN                  N                NaN
374358                        Y                  N                NaN
374359                      NaN                  N                NaN
374360                      NaN                  N                NaN
374361                      NaN                  N                NaN

       wage_offer_from_9089 wage_offer_to_9089 wage_offer_unit_of_pay_9089  \
374357            28,330.00                NaN                        Year
374358           122,000.00         142,000.00                        Year
374359            79,082.00          79,082.00                        Year
374360            37,981.00                NaN                        Year
374361            84,926.00         121,500.00                        Year

       wage_offered_from_9089 wage_offered_to_9089  \
374357                    NaN                  NaN
374358                    NaN                  NaN
374359                    NaN                  NaN
374360                    NaN                  NaN
374361                    NaN                  NaN

        wage_offered_unit_of_pay_9089
374357                            NaN
374358                            NaN
374359                            NaN
374360                            NaN
374361                            NaN

[5 rows x 154 columns]

In [6]:
#display attributes in the dataset.
print(df.columns.values)

['add_these_pw_job_title_9089' 'agent_city' 'agent_firm_name'
 'agent_state' 'application_type' 'case_no' 'case_number'
 'case_received_date' 'case_status' 'class_of_admission'
 'country_of_citizenship' 'country_of_citzenship' 'decision_date'
 'employer_address_1' 'employer_address_2' 'employer_city'
 'employer_country' 'employer_decl_info_title' 'employer_name'
 'employer_num_employees' 'employer_phone' 'employer_phone_ext'
 'employer_postal_code' 'employer_state' 'employer_yr_estab'
 'foreign_worker_info_alt_edu_experience'
 'foreign_worker_info_birth_country' 'foreign_worker_info_city'
 'foreign_worker_info_education' 'foreign_worker_info_education_other'
 'foreign_worker_info_inst' 'foreign_worker_info_major'
 'foreign_worker_info_postal_code' 'foreign_worker_info_rel_occup_exp'
 'foreign_worker_info_req_experience' 'foreign_worker_info_state'
 'foreign_worker_info_training_comp' 'foreign_worker_ownership_interest'
 'foreign_worker_yr_rel_edu_completed' 'fw_info_alt_edu_experience'
 'fw_info_birth_country' 'fw_info_education_other' 'fw_info_postal_code'
 'fw_info_rel_occup_exp' 'fw_info_req_experience' 'fw_info_training_comp'
 'fw_info_yr_rel_edu_completed' 'fw_ownership_interest'
 'ji_foreign_worker_live_on_premises' 'ji_fw_live_on_premises'
 'ji_live_in_dom_svc_contract' 'ji_live_in_domestic_service'
 'ji_offered_to_sec_j_foreign_worker' 'ji_offered_to_sec_j_fw'
 'job_info_alt_cmb_ed_oth_yrs' 'job_info_alt_combo_ed'
 'job_info_alt_combo_ed_exp' 'job_info_alt_combo_ed_other'
 'job_info_alt_field' 'job_info_alt_field_name' 'job_info_alt_occ'
 'job_info_alt_occ_job_title' 'job_info_alt_occ_num_months'
 'job_info_combo_occupation' 'job_info_education'
 'job_info_education_other' 'job_info_experience'
 'job_info_experience_num_months' 'job_info_foreign_ed'
 'job_info_foreign_lang_req' 'job_info_job_req_normal'
 'job_info_job_title' 'job_info_major' 'job_info_training'
 'job_info_training_field' 'job_info_training_num_months'
 'job_info_work_city' 'job_info_work_postal_code' 'job_info_work_state'
 'naics_2007_us_code' 'naics_2007_us_title' 'naics_code' 'naics_title'
 'naics_us_code' 'naics_us_code_2007' 'naics_us_title'
 'naics_us_title_2007' 'orig_case_no' 'orig_file_date'
 'preparer_info_emp_completed' 'preparer_info_title' 'pw_amount_9089'
 'pw_determ_date' 'pw_expire_date' 'pw_job_title_908' 'pw_job_title_9089'
 'pw_level_9089' 'pw_soc_code' 'pw_soc_title' 'pw_source_name_9089'
 'pw_source_name_other_9089' 'pw_track_num' 'pw_unit_of_pay_9089'
 'rec_info_barg_rep_notified' 'recr_info_barg_rep_notified'
 'recr_info_coll_teach_comp_proc' 'recr_info_coll_univ_teacher'
 'recr_info_employer_rec_payment' 'recr_info_first_ad_start'
 'recr_info_job_fair_from' 'recr_info_job_fair_to'
 'recr_info_on_campus_recr_from' 'recr_info_on_campus_recr_to'
 'recr_info_pro_org_advert_from' 'recr_info_pro_org_advert_to'
 'recr_info_prof_org_advert_from' 'recr_info_prof_org_advert_to'
 'recr_info_professional_occ' 'recr_info_radio_tv_ad_from'
 'recr_info_radio_tv_ad_to' 'recr_info_second_ad_start'
 'recr_info_sunday_newspaper' 'recr_info_swa_job_order_end'
 'recr_info_swa_job_order_start' 'refile' 'ri_1st_ad_newspaper_name'
 'ri_2nd_ad_newspaper_name' 'ri_2nd_ad_newspaper_or_journal'
 'ri_campus_placement_from' 'ri_campus_placement_to'
 'ri_coll_tch_basic_process' 'ri_coll_teach_pro_jnl'
 'ri_coll_teach_select_date' 'ri_employee_referral_prog_from'
 'ri_employee_referral_prog_to' 'ri_employer_web_post_from'
 'ri_employer_web_post_to' 'ri_job_search_website_from'
 'ri_job_search_website_to' 'ri_layoff_in_past_six_months'
 'ri_local_ethnic_paper_from' 'ri_local_ethnic_paper_to'
 'ri_posted_notice_at_worksite' 'ri_pvt_employment_firm_from'
 'ri_pvt_employment_firm_to' 'ri_us_workers_considered'
 'schd_a_sheepherder' 'us_economic_sector' 'wage_offer_from_9089'
 'wage_offer_to_9089' 'wage_offer_unit_of_pay_9089'
 'wage_offered_from_9089' 'wage_offered_to_9089'
 'wage_offered_unit_of_pay_9089']

In [7]:
# Checking length of case_number and case_no

print("Length of 'case_number' column is: ", len(df['case_number'])," with",df.case_number.isnull().sum(), "missing values")
print("Length of 'case_no' column is: ", len(df['case_no'])," with", df.case_no.isnull().sum(),"missing values \n")

print("First 2 values of case_number column are : \n", df['case_number'].head(2),"\n")

print("Last 2 values of case_number column are : \n", df['case_number'].tail(2), "\n")
print("First 2 values of case_no column are : \n", df['case_no'].head(2), "\n")
print("Last 2 values of case_no column are : \n", df['case_no'].tail(2))

Length of 'case_number' column is:  374362  with 135269 missing values
Length of 'case_no' column is:  374362  with 239093 missing values

First 2 values of case_number column are :
 0    NaN
1    NaN
Name: case_number, dtype: object

Last 2 values of case_number column are :
 374360    A-16357-84250
374361    A-16279-59292
Name: case_number, dtype: object

First 2 values of case_no column are :
 0    A-07323-97014
1    A-07332-99439
Name: case_no, dtype: object

Last 2 values of case_no column are :
 374360    NaN
374361    NaN
Name: case_no, dtype: object

In [8]:
# Creating new columns containing non missing values from both "case_number" and "case_no"

casenoindex = df.columns.get_loc("case_no")
casenumberindex = df.columns.get_loc("case_number")
casenumberlist = []

for value in df.iloc[0:135269,casenoindex]:
    casenumberlist.append(value)
    
for value in df.iloc[135269:374363,casenumberindex]:
    casenumberlist.append(value)
    
df['casenumber'] = casenumberlist
df.drop(df.columns[[casenoindex,casenumberindex]], axis=1, inplace=True)

In [9]:
#Printing number of unique values for 'case_status' column

for value in df.case_status.unique():
    print(len(df[df['case_status'] == value])," occurrences of status '{}'".format(value))

181933  occurrences of status 'Certified'
25649  occurrences of status 'Denied'
148586  occurrences of status 'Certified-Expired'
18194  occurrences of status 'Withdrawn'

In [10]:
#Removing all withdrawn applications
df = df[df.case_status != 'Withdrawn']

#Combining certified-expired and certified applications and displaying distribution of "case_status" variable
df.loc[df.case_status == 'Certified-Expired', 'case_status'] = 'Certified'
df.case_status.value_counts()

case_status
Certified    330519
Denied        25649
Name: count, dtype: int64

In [11]:
# Percentage of case_status.

df['case_status'].value_counts()/len(df)*100

case_status
Certified    92.798623
Denied        7.201377
Name: count, dtype: float64

In [12]:
#Dropping all empty columns
df = df.dropna(axis=1, how='all');

#Dropping all empty rows
df = df.dropna(axis=0, how='all');

df.shape

(356168, 153)

In [13]:
# Displaying number of missing values in each column
for column in df.columns:
    print("Attribute '{}' contains ".format(column),  df[column].isnull().sum().sum(), " missing values")

Attribute 'add_these_pw_job_title_9089' contains  317031  missing values
Attribute 'agent_city' contains  153452  missing values
Attribute 'agent_firm_name' contains  157646  missing values
Attribute 'agent_state' contains  156544  missing values
Attribute 'application_type' contains  229320  missing values
Attribute 'case_received_date' contains  126848  missing values
Attribute 'case_status' contains  0  missing values
Attribute 'class_of_admission' contains  21085  missing values
Attribute 'country_of_citizenship' contains  19272  missing values
Attribute 'country_of_citzenship' contains  336951  missing values
Attribute 'decision_date' contains  0  missing values
Attribute 'employer_address_1' contains  37  missing values
Attribute 'employer_address_2' contains  236133  missing values
Attribute 'employer_city' contains  10  missing values
Attribute 'employer_country' contains  126920  missing values
Attribute 'employer_decl_info_title' contains  126886  missing values
Attribute 'employer_name' contains  8  missing values
Attribute 'employer_num_employees' contains  126925  missing values
Attribute 'employer_phone' contains  126883  missing values
Attribute 'employer_phone_ext' contains  333670  missing values
Attribute 'employer_postal_code' contains  33  missing values
Attribute 'employer_state' contains  37  missing values
Attribute 'employer_yr_estab' contains  126982  missing values
Attribute 'foreign_worker_info_alt_edu_experience' contains  271883  missing values
Attribute 'foreign_worker_info_birth_country' contains  271880  missing values
Attribute 'foreign_worker_info_city' contains  126875  missing values
Attribute 'foreign_worker_info_education' contains  143554  missing values
Attribute 'foreign_worker_info_education_other' contains  352421  missing values
Attribute 'foreign_worker_info_inst' contains  143883  missing values
Attribute 'foreign_worker_info_major' contains  144800  missing values
Attribute 'foreign_worker_info_postal_code' contains  274425  missing values
Attribute 'foreign_worker_info_rel_occup_exp' contains  271875  missing values
Attribute 'foreign_worker_info_req_experience' contains  271873  missing values
Attribute 'foreign_worker_info_state' contains  142448  missing values
Attribute 'foreign_worker_info_training_comp' contains  271874  missing values
Attribute 'foreign_worker_ownership_interest' contains  271870  missing values
Attribute 'foreign_worker_yr_rel_edu_completed' contains  276735  missing values
Attribute 'fw_info_alt_edu_experience' contains  211154  missing values
Attribute 'fw_info_birth_country' contains  211166  missing values
Attribute 'fw_info_education_other' contains  350072  missing values
Attribute 'fw_info_postal_code' contains  213280  missing values
Attribute 'fw_info_rel_occup_exp' contains  211157  missing values
Attribute 'fw_info_req_experience' contains  211153  missing values
Attribute 'fw_info_training_comp' contains  211156  missing values
Attribute 'fw_info_yr_rel_edu_completed' contains  223131  missing values
Attribute 'fw_ownership_interest' contains  211154  missing values
Attribute 'ji_foreign_worker_live_on_premises' contains  271871  missing values
Attribute 'ji_fw_live_on_premises' contains  211152  missing values
Attribute 'ji_live_in_dom_svc_contract' contains  353855  missing values
Attribute 'ji_live_in_domestic_service' contains  126858  missing values
Attribute 'ji_offered_to_sec_j_foreign_worker' contains  271871  missing values
Attribute 'ji_offered_to_sec_j_fw' contains  211152  missing values
Attribute 'job_info_alt_cmb_ed_oth_yrs' contains  288242  missing values
Attribute 'job_info_alt_combo_ed' contains  290025  missing values
Attribute 'job_info_alt_combo_ed_exp' contains  126881  missing values
Attribute 'job_info_alt_combo_ed_other' contains  347190  missing values
Attribute 'job_info_alt_field' contains  126880  missing values
Attribute 'job_info_alt_field_name' contains  265907  missing values
Attribute 'job_info_alt_occ' contains  213169  missing values
Attribute 'job_info_alt_occ_job_title' contains  213847  missing values
Attribute 'job_info_alt_occ_num_months' contains  214045  missing values
Attribute 'job_info_combo_occupation' contains  126855  missing values
Attribute 'job_info_education' contains  147649  missing values
Attribute 'job_info_education_other' contains  348724  missing values
Attribute 'job_info_experience' contains  126858  missing values
Attribute 'job_info_experience_num_months' contains  227222  missing values
Attribute 'job_info_foreign_ed' contains  127075  missing values
Attribute 'job_info_foreign_lang_req' contains  126862  missing values
Attribute 'job_info_job_req_normal' contains  126859  missing values
Attribute 'job_info_job_title' contains  126889  missing values
Attribute 'job_info_major' contains  151241  missing values
Attribute 'job_info_training' contains  126861  missing values
Attribute 'job_info_training_field' contains  351877  missing values
Attribute 'job_info_training_num_months' contains  351596  missing values
Attribute 'job_info_work_city' contains  95  missing values
Attribute 'job_info_work_postal_code' contains  126930  missing values
Attribute 'job_info_work_state' contains  96  missing values
Attribute 'naics_2007_us_code' contains  337009  missing values
Attribute 'naics_2007_us_title' contains  337598  missing values
Attribute 'naics_code' contains  272070  missing values
Attribute 'naics_title' contains  272070  missing values
Attribute 'naics_us_code' contains  211467  missing values
Attribute 'naics_us_code_2007' contains  248921  missing values
Attribute 'naics_us_title' contains  211467  missing values
Attribute 'naics_us_title_2007' contains  251893  missing values
Attribute 'orig_case_no' contains  355892  missing values
Attribute 'orig_file_date' contains  355904  missing values
Attribute 'preparer_info_emp_completed' contains  126885  missing values
Attribute 'preparer_info_title' contains  154602  missing values
Attribute 'pw_amount_9089' contains  2203  missing values
Attribute 'pw_determ_date' contains  127160  missing values
Attribute 'pw_expire_date' contains  127239  missing values
Attribute 'pw_job_title_908' contains  211218  missing values
Attribute 'pw_job_title_9089' contains  145334  missing values
Attribute 'pw_level_9089' contains  26585  missing values
Attribute 'pw_soc_code' contains  574  missing values
Attribute 'pw_soc_title' contains  2321  missing values
Attribute 'pw_source_name_9089' contains  2087  missing values
Attribute 'pw_source_name_other_9089' contains  340927  missing values
Attribute 'pw_track_num' contains  128696  missing values
Attribute 'pw_unit_of_pay_9089' contains  1481  missing values
Attribute 'rec_info_barg_rep_notified' contains  271930  missing values
Attribute 'recr_info_barg_rep_notified' contains  211165  missing values
Attribute 'recr_info_coll_teach_comp_proc' contains  349374  missing values
Attribute 'recr_info_coll_univ_teacher' contains  126876  missing values
Attribute 'recr_info_employer_rec_payment' contains  126864  missing values
Attribute 'recr_info_first_ad_start' contains  132806  missing values
Attribute 'recr_info_job_fair_from' contains  354447  missing values
Attribute 'recr_info_job_fair_to' contains  354451  missing values
Attribute 'recr_info_on_campus_recr_from' contains  354403  missing values
Attribute 'recr_info_on_campus_recr_to' contains  354410  missing values
Attribute 'recr_info_pro_org_advert_from' contains  342873  missing values
Attribute 'recr_info_pro_org_advert_to' contains  342879  missing values
Attribute 'recr_info_prof_org_advert_from' contains  328771  missing values
Attribute 'recr_info_prof_org_advert_to' contains  328778  missing values
Attribute 'recr_info_professional_occ' contains  126861  missing values
Attribute 'recr_info_radio_tv_ad_from' contains  336666  missing values
Attribute 'recr_info_radio_tv_ad_to' contains  336665  missing values
Attribute 'recr_info_second_ad_start' contains  132843  missing values
Attribute 'recr_info_sunday_newspaper' contains  132717  missing values
Attribute 'recr_info_swa_job_order_end' contains  132841  missing values
Attribute 'recr_info_swa_job_order_start' contains  132819  missing values
Attribute 'refile' contains  247861  missing values
Attribute 'ri_1st_ad_newspaper_name' contains  132797  missing values
Attribute 'ri_2nd_ad_newspaper_name' contains  132858  missing values
Attribute 'ri_2nd_ad_newspaper_or_journal' contains  132825  missing values
Attribute 'ri_campus_placement_from' contains  327380  missing values
Attribute 'ri_campus_placement_to' contains  327390  missing values
Attribute 'ri_coll_tch_basic_process' contains  349382  missing values
Attribute 'ri_coll_teach_pro_jnl' contains  350625  missing values
Attribute 'ri_coll_teach_select_date' contains  350626  missing values
Attribute 'ri_employee_referral_prog_from' contains  289853  missing values
Attribute 'ri_employee_referral_prog_to' contains  289852  missing values
Attribute 'ri_employer_web_post_from' contains  224277  missing values
Attribute 'ri_employer_web_post_to' contains  224300  missing values
Attribute 'ri_job_search_website_from' contains  166377  missing values
Attribute 'ri_job_search_website_to' contains  166388  missing values
Attribute 'ri_layoff_in_past_six_months' contains  126878  missing values
Attribute 'ri_local_ethnic_paper_from' contains  239853  missing values
Attribute 'ri_local_ethnic_paper_to' contains  239852  missing values
Attribute 'ri_posted_notice_at_worksite' contains  126927  missing values
Attribute 'ri_pvt_employment_firm_from' contains  340050  missing values
Attribute 'ri_pvt_employment_firm_to' contains  340052  missing values
Attribute 'ri_us_workers_considered' contains  339595  missing values
Attribute 'schd_a_sheepherder' contains  126866  missing values
Attribute 'us_economic_sector' contains  235300  missing values
Attribute 'wage_offer_from_9089' contains  107705  missing values
Attribute 'wage_offer_to_9089' contains  285397  missing values
Attribute 'wage_offer_unit_of_pay_9089' contains  108769  missing values
Attribute 'wage_offered_from_9089' contains  248582  missing values
Attribute 'wage_offered_to_9089' contains  326852  missing values
Attribute 'wage_offered_unit_of_pay_9089' contains  289470  missing values
Attribute 'casenumber' contains  0  missing values